body {
  max-width: 320px;
  margin: auto;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 31px;
  font-family: 'Rubik Mono One', sans-serif;
}

p,
td {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}



