body {
  max-width: 320px;
  margin: auto;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 31px;
  font-family: 'Rubik Mono One', sans-serif;
}

h2 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 22px;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 18px;
}

p,
td {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

.legende {
  font-size: 13px;
}

